# ===================================================================
# DB Config
# ===================================================================
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/appsmith
    driver-class-name: org.postgresql.Driver
    username: appsmith
    password:
    hikari:
      connection-timeout: 10000
      maximum-pool-size: 20
      minimum-idle: 10
      data-source-properties:
        rewriteBatchedStatements: true
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: false
    generate-ddl: true
    open-in-view: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        order_inserts: true
        order_updates: true
        order_deletes: true
        jdbc:
          batch_size: 100
    show-sql: true
  sql:
    init:
      mode: never
      platform: local
